---
interface Props {
  title: string;
  icon: string;
  url: string;
}

const { title, icon, url } = Astro.props;
---

  <a href={url} class="card-item" download>
      <div class="card-header">
        <img src={icon} alt={icon} >
        <span>{title}</span>
      </div>
  </a>

<style is:global>
    :root {
      --color-background: #ffffff;
      --color-text: #333333;
      --color-secondary-text: #666666;
      --color-link: #3498db;
      --color-link-hover: #2980b9;
      --color-card-shadow: rgba(0, 0, 0, 0.1);
      --color-card-hover-shadow: rgba(0, 0, 0, 0.2);
      --color-tag-background: #e0e0e0;
      --color-tag-text: #333333;
    }
  
    [data-theme='dark'] {
      --color-background: #1e1e1e;
      --color-text: #e0e0e0;
      --color-secondary-text: #aaaaaa;
      --color-link: #82cfff;
      --color-link-hover: #66b3ff;
      --color-card-shadow: rgba(0, 0, 0, 0.6);
      --color-card-hover-shadow: rgba(0, 0, 0, 0.8);
      --color-tag-background: #333333;
      --color-tag-text: #e0e0e0;
    }
</style>

<style>
  .card-item:hover{
    transform: translateY(-8px);
  }
  .card-item {
    appearance: none;
    margin: 10px auto;
    display: block;
    background: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-tag-background);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--color-card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-item:hover {
    box-shadow: 0 4px 10px var(--color-card-hover-shadow);
  }

  .card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  h4 {
    margin: 0;
    color: var(--color-text);
  }

  p {
    color: var(--color-secondary-text);
  }

  a {
    color: var(--color-link);
    text-decoration: none;
  }

  a:hover {
    color: var(--color-link-hover);
  }
  img{
    width: 2rem;
    height: 2rem;
  }
</style>
