---
// Props for the Card component
export interface Props {
  header: string;
  link: string;
  altText?: string;
}

const { header, link } = Astro.props;

---

<a href={link} class="card">
  <header class="card-header">
    <p>{header}</p>
  </header>
</a>

<style>
  /* Basic Styles */
  .card {
    display: block;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-background);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--color-card-shadow);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    position: relative; /* Needed for the absolute positioning of the icon */
  }

  .card:hover, .card:focus {
    background-color: var(--color-background);
    box-shadow: 0 8px 16px var(--color-card-hover-shadow);
    transform: translateY(-4px); /* Slight lift on hover */
  }

  .card-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  p {
    margin: 0;
    font-size: 1.2rem;
    color: var(--color-text);
  }
</style>