---
import { getCollection } from "astro:content";

const { folder } = Astro.props;

const allInstallGuides = await getCollection("docs", ({ data }) => {
    if (!data.sidebar.hidden && data.template !== "splash" && !data.date) {
        // console.log({ data });
        return data;
    }
});
---

{
    allInstallGuides.map((p) => (
        <>
            <a href={p.slug.replace(`${folder}`, "")}>{p.data.title}</a>
            <br />
        </>
    ))
}
