---
import { Icon } from "@astrojs/starlight/components";
---

<div
    id="install-toast"
    role="alert"
    aria-labelledby="toast-message"
    class="hide"
>
    <div class="message">
      App can be installed
    </div>
    <div class="button-wrapper">
      <button id="install-btn" disabled>
        <Icon name="setting" label="install"></Icon>
        Install
      </button>
      <button id="close-btn">
        <Icon name="close"></Icon>
        Close
      </button>
    </div>
</div>

<style>
#install-toast {
  background-color: var(--sl-color-orange-low);
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid var(--sl-color-orange);
  border-radius: 4px;
  z-index: 1;
  text-align: left;
}
#install-toast.hide {
  display: none;
}
#install-toast .message {
  margin-bottom: 8px;
}

.button-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#install-toast button{
  cursor: pointer;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
  
}
#install-btn{
  background-color: var(--sl-color-green-low);
  border: 1px solid var(--sl-color-green);
}

#close-btn{
  background-color: var(--sl-color-blue-low);
  border: 1px solid var(--sl-color-blue);
}



#install-btn, #close-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 0;
}
</style>
