---
import { getCollection, getEntry } from "astro:content";

const allInstallPosts = await getCollection("docs", ({ data }) => {
    if (!data.sidebar.hidden && data.template !== "splash" && !data.date) {
        console.log({ data });

        return data;
    }
});
---

{
    allInstallPosts.map((p) => (
        <>
            <a href={p.slug}>{p.data.title}</a>
            <br />
        </>
    ))
}
