---
import { Icon } from "@astrojs/starlight/components";
--- 
<script src="./pwa.ts"></script>
<div
    id="pwa-toast"
    role="alert"
    aria-labelledby="toast-message"
>
    <div class="message">
      <span id="toast-message"></span>
    </div>
    <div class="button-wrapper">
      <button id="pwa-refresh">
        <Icon name="rocket" label="Reload"></Icon>
        Reload
      </button>
      <button id="pwa-close">
        <Icon name="close"></Icon>
        Close
      </button>
    </div>
</div>
<style is:global>
  :root {
    --color-background: #ffffff; 
    --color-text: #333333;
    --color-secondary-text: #666666;
    --color-link: #3498db;
    --color-link-hover: #2980b9;
    --color-card-shadow: rgba(0, 0, 0, 0.1);
    --color-card-hover-shadow: rgba(0, 0, 0, 0.2);
    --color-tag-background: #e0e0e0; 
    --color-tag-text: #333333;
  }

  [data-theme='dark'] {
    --color-background: #1e1e1e;
    --color-text: #e0e0e0;
    --color-secondary-text: #aaaaaa;
    --color-link: #82cfff;
    --color-link-hover: #66b3ff;
    --color-card-shadow: rgba(0, 0, 0, 0.6);
    --color-card-hover-shadow: rgba(0, 0, 0, 0.8);
    --color-tag-background: #333333;
    --color-tag-text: #e0e0e0;
  }
</style>
<style>
#pwa-toast {
  background-color: var(--sl-color-orange-low);
  visibility: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 16px;
  padding: 12px;
  border: 1px solid var(--sl-color-orange);
  border-radius: 4px;
  z-index: 1;
  text-align: left;
  /* box-shadow: 3px 4px 5px 0 var(--sl-color-orange); */
}
#pwa-toast .message {
  margin-bottom: 8px;
}

.button-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#pwa-toast button {
  cursor: pointer;
  outline: none;
  margin-right: 5px;
  border-radius: 2px;
  padding: 3px 10px;
}
#pwa-toast.show {
  visibility: visible;
}
button#pwa-refresh {
  display: none;
}

#pwa-toast.show.refresh button#pwa-refresh{
  display: flex;
  background-color: var(--sl-color-green-low);
  border: 1px solid var(--sl-color-green);
}

#pwa-close{
  background-color: var(--sl-color-blue-low);
  border: 1px solid var(--sl-color-blue);
}


#pwa-refresh, #pwa-close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin: 0;
}
</style>