---
import { Card, CardGrid  } from '@astrojs/starlight/components';

---

<CardGrid>
    <Card title="Tutorials" icon="rocket" >
        Checkout tutorials <a href="/youtube/tutorial/">here</a>.
    </Card>
    <Card title="Tips and Tricks" icon="list-format" >
        Checkout all tips and tricks <a href="/youtube/general/tips-and-tricks/">here</a>.
    </Card>
    <Card title="Cookbooks" icon="document" >
        Explore cookbooks, recipes, boilerplates, starter-kits and much more, <a href="/youtube/boilerplate/">here</a>.
    </Card>
    <Card title="Installations" icon="setting" >
        To view installation guides, click <a href="/youtube/tutorial/">here</a>.
    </Card>
</CardGrid>

