---
import { getCollection } from "astro:content";
import { groupBy } from "./utlis";

const { folder } = Astro.props;

const collection: any[] = [];

await getCollection("docs", (collectionEntry) => {
    let data = collectionEntry.data;
    if (
        !data.sidebar.hidden &&
        data.template !== "splash" &&
        collectionEntry.id.toLowerCase().startsWith(folder + "/")
    ) {
        let isSubFolder = collectionEntry.id.match(/\//gi)?.length || 0;
        let subFolderName = "";
        if (isSubFolder > 1) {
            let temp = collectionEntry.id.match(/(?<=\/)(.*?)(?=\/)/gi);
            subFolderName = temp != null ? temp[0] : "";
        }
        
        let { slug } = collectionEntry;
        let { title } = data;
        
        //console.log({ slug: slug.replace(folder+"/", ""), subFolderName });
        collection.push({
            subFolderName,
            slug: slug.replace(folder, "/youtube/"+folder),
            title,
        });
    }
});

const groupedData = groupBy(collection, "subFolderName");
const groupedCollection: any[] = Object.entries(groupedData).map(
    ([key, value]) => ({
        key,
        value,
    }),
);

// console.log(groupedCollection);
// console.log(groupedCollection[1]);

import {  CardGrid } from "@astrojs/starlight/components";
import TocCard from "../components/helper/TocCard.astro";
---

{
    groupedCollection.map(({ key, value }) => {
        return (
            <>
                <>
                    <h3>{key || "General"}</h3>
                    <br />
                </>
                <>
                    <CardGrid>
                        {value.map(
                            (p: {
                                slug: string;
                                title: string;
                                subFolderName: string;
                            }) => {
                                return (
                                    //<LinkCard title={p.title} href={p.slug} />
                                    <TocCard
                                        header={p.title}
                                        link={p.slug}
                                    />
                                );
                            },
                        )}
                    </CardGrid>
                </>
            </>
        );
    })
}
