---
//@ts-nocheck
import { pwaInfo } from "virtual:pwa-info";
import ReloadPrompt from "../components/ReloadPrompt.astro";
import InstallPrompt from "../components/InstallPrompt.astro";

import "../styles/global.css";

export interface Props {
  title: string;
}

// replaced dynamically
const buildDate = __DATE__;

const { title } = Astro.props as Props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <title>{title}</title>
    <meta name="description" content={title} />
    <base href="/youtube/" />
    <link rel="manifest" href="/youtube/manifest.webmanifest" />
  </head>
  <body>
    <!-- Main App will be loaded here -->
    <slot />

    <!-- PWA function for the reload prompt -->
    <ReloadPrompt />
    <footer>

      <!-- PWA function for BeforeInstall browser event -->
      <InstallPrompt />

      <!-- Built at: {buildDate} -->
    </footer>
  </body>
</html>
