---
//@ts-nocheck
import { pwaInfo } from "virtual:pwa-info";
import ReloadPrompt from "../components/ReloadPrompt.astro";

export interface Props {
  title: string;
}

// replaced dynamically
const buildDate = __DATE__;

const { title } = Astro.props as Props;
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <title>{title}</title>
    <meta name="description" content={title} />
    <style>
      main,
      footer {
        text-align: center;
      }
    </style>
    <base href="/youtube/" />
    <link rel="manifest" href="/youtube/manifest.webmanifest" />
    <!-- <script src="/src/pwa.ts"></script> -->
  </head>
  <body>
    <main>
      <article>
        <slot />
      </article>
    </main>
    <ReloadPrompt />
    <footer>
      <!-- Built at: {buildDate} -->
    </footer>
  </body>
</html>
